body {
    margin: 0;
    background-image: url('Nice\ background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
}

#currentWeather {
    background-color: lightgrey;
    opacity: 30%;
}